.h3 {
    font-weight: 400;
    border-style: dashed;
    margin-left: 250px;
    margin-top: 250px;
}

body {
    background: #fff;
}

/*200 divs = 20x20px*/ 
.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #117b48;
    border: solid .2em #083a22;
}

.grid div {
    height: 20px;
    width: 20px;
}